.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--bg-purple); /* Variável do global.css */
    padding: 10px 5%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

.navbarIcon {
    width: 80px;
    height: auto;
}

.navList {
    display: flex;
    list-style: none;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

.navLink {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: var(--transition);
}

.navLink:hover {
    color: var(--main-color);
}